@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

.custom-bg {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

:where(.css-dev-only-do-not-override-m4timi).ant-menu .ant-menu-item,
:where(.css-dev-only-do-not-override-m4timi).ant-menu .ant-menu-submenu,
:where(.css-dev-only-do-not-override-m4timi).ant-menu .ant-menu-submenu-title {
  border-radius: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}

.custom-background-full {
  background-color: #f0f0f1;
}
@media (max-width: 768px) {
  .custom-margin {
    margin-bottom: 1rem;
    margin-left: -11%;
  }
}

.custom-right-margin {
  /* padding-left:20px !important; */
  /* padding-right:20px !important; */
}
@media (min-width: 992px) {
  .custom-right-margin {
    padding-left: 230px !important;
    padding-right: 30px !important;
  }
}
