.containerr {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section {
  background-color: white !important;
  width: 100vw !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.mein {
  width: 100%;
  max-width: 532px !important;
  font-size: 2em;
  background-color: white;
  text-align: center;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headingimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-icon {
  display: none;
}
.red-ff-family {
  font-family: "Red Hat Text", sans-serif !important;
}
.source-family {
  font-family: "Source Sans Pro", sans-serif !important;
}
.custom-style {
  font-size: 24px;
  font-weight: 600;
  font-family: "Red Hat Text", sans-serif !important;
}
@media (max-width: 768px) {
  .mein {
    width: 100% !important;
    padding-top: 0px !important;
    padding: 2rem !important;
  }
  .hey {
    display: none !important;
  }
  .andrew {
    display: none !important;
  }
  .arrow-icon {
    display: flex !important;
  }
  .headingimg {
    padding: 0px !important;
    margin: 0% !important;
    display: flex !important;
    gap: 20px;
    text-align: center;
    align-items: center;
  }
}
