@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

.Custom_button {
  background-color: #ffffff;
  color: #1364f1;
  border: 1px solid #1364f1;
}

.border-box {
  border-radius: 1px;
  border-color: #f0f0f0;
}

.hover_box {
  background-color: transparent;
}

.main_hover_box:hover .hover_box {
  background-color: #e7effe !;
}
.Custom_button {
  border: 1px solid #1364f1;
  color: #1364f1 !important;
}

.selected-row {
  background-color: #f0f0f0;
}

.selected-tr {
  background-color: #e7effe !important;
}

.cursor-pointer {
  cursor: pointer !important;
}
.m--2 {
  margin-left: -10%;
}
.w-8 {
  width: 8%;
}
.margin-top-custom {
  margin-top: 20px;
}
.checkbox {
  height: 24px;
  width: 24px;
  background-color: #e7effe;
}
.circle0 {
  height: 46px;
  width: 46px;
  background-color: #1364f1 !important;
  color: black;
  border-radius: 30px;
}
.circle2 {
  height: 46px;
  width: 46px;
  background-color: #f8f8f8;
  color: black;
  border-radius: 30px;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e5e5e5;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202020;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202020;
}

.circle1 {
  height: 46px;
  width: 46px;
  background-color: #f3f3f399 !important;
  color: black;
  border-radius: 30px;
}

.Accept-button {
  background-color: #0e80291a;
  color: #0e8029;
  border: none;
}
.Decline-button {
  background-color: #eb001b1a;
  color: #eb001bbf;
  border: none;
}
.border-color {
  border: 1px solid #cecece4d;
}

.table-responsive {
  overflow-x: auto;
}

.notification-header {
  font-size: 24px;
}

@media (max-width: 768px) {
  .notification-header {
    font-size: 18px;
  }

  .description-text {
    -webkit-line-clamp: 1;
  }
}

.description-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.circle1 {
  width: 40px;
  height: 40px;
  background-color: #e7effe;
  color: white;
  text-align: center;
  line-height: 40px;
}

.Accept-button,
.Decline-button {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
}

.notification-item {
  background: #f8f9fa;
  border-radius: 0.5rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .md-fs_18 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .initial-reps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .sm-fs_16 {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .text-reponsive {
    font-size: 10px;
    padding-left: 23%;
  }
}
@media (max-width: 768px) {
  .respon-desc {
    text-wrap: nowrap;
    font-size: 12px;
    padding-left: 90px;

    overflow: hidden;
  }
}
@media (min-width: 1500px) {
  .custom_h {
    height: 1000px !important;
  }
}
@media (max-width: 1540px) {
  .custom_h {
    height: 500px !important;
  }
}

.container2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 2px solid #cccccc;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #cccccc;
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container2 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #1364f1;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
