.mar-bot-2{
  margin-bottom: -8px;
}
.bg-color{
  background-color: #F3F3F399 !important;
}
.dashboard-text-color{
  color: #202020;
}
.sub-text-color{
  color: #404040;
}
.bg-white{
  background-color: white;
}
.current-plan-bg{
  background-color: #E1E9F7;
}

.card {
  margin: 1rem 0;
}

@media (max-width: 576px) {
  .card {
    margin-left: auto;
    margin-right: auto;
  }
}

  