@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

.mar-bot-2 {
  margin-bottom: -8px;
}
.bg-color {
  background-color: #f3f3f399 !important;
}
.dashboard-text-color {
  color: #202020;
}
.sub-text-color {
  color: #404040;
}
.bg-white {
  background-color: white;
}
.current-plan-bg {
  background-color: #e1e9f7;
}

.card {
  margin: 1rem 0;
}

@media (max-width: 576px) {
  .card {
    margin-left: auto;
    margin-right: auto;
  }
}
